@keyframes particleMV {
    50% {
        opacity: 1;
   }
    100% {
        width: 100%;
        margin-left: 0;
        opacity: 0;
   }
}
@keyframes particleBoxeMV {
    to {
        margin-top: -30vh;
   }
}
.particleBox {
    position: absolute;
    height: 10px;
    width: 200px;
    top: 100%;
    animation: particleBoxeMV 10s cubic-bezier(0, 5, 0, 3);
    z-index: 50;
}
.particle {
    position: absolute;
    width: 6px;
    height: 6px;
    margin-left: 50%;
    animation: particleMV 10s cubic-bezier(0.25, 0, 0, 1);
}
.particle::before, .particle::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    top: 0%;
    left: 0%;
    background: #ff90c3;
    border-radius: 100%;
    box-shadow: 0 0 6px #ff82bb, 0 0 20px #ff82bb;
    opacity: 1;
}
.particle::after {
    left: 100%;
}
