
::-webkit-scrollbar {
  display: none;
}

:root{
  background-color: transparent;
}
html {
  background-color: transparent;
}

body {
  text-align: center;
  padding-top: 20px;
  width: 200px;
  height: 150px;
  overflow-y: hidden;
  background: transparent!important;
  -webkit-app-region: drag;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 0;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
  min-width: 150px;
  min-height: 100px;
  background-color: 	#9400D3;
  color: #ffffff;
  line-height: 1;
  text-transform: uppercase;
  padding: 0.66em;
  text-decoration: none;
  transition: all 0.3s ease;
  display: inline-flex;
  flex: none;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}
/* Button: Neon */
.button.neon,
button.neon,
input[type="button"].neon,
input[type="reset"].neon,
input[type="submit"].neon {
  border-radius: 0.4em;
  font-weight: 400;
  padding: 0.44em;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  letter-spacing: 0.04em;
  background: transparent !important;
  border: 0.1em solid #ffffff;
  color: #ffffff;
  text-shadow: #ffffff 0px 0px 0.15em, #ffffff 0px 0px 0.3em, #ffffff 0px 0px 0.45em, 	#9400D3 0px 0px 0.3em, 	#9400D3 0px 0px 0.52em, 	#9400D3 0px 0px 0.6em, 	#9400D3 0px 0px 0.75em;
  box-shadow: #ffffff 0px 0px 0.075em, #ffffff 0px 0px 0.15em, #ffffff 0px 0px 0.22em, 	#9400D3 0px 0px 0.3em, 	#9400D3 0px 0px 0.52em, 	#9400D3 0px 0px 0.6em, 	#9400D3 0px 0px 0.75em, inset 	#9400D3 0 0 0.6em;
}
.button.neon:hover,
button.neon:hover,
input[type="button"].neon:hover,
input[type="reset"].neon:hover,
input[type="submit"].neon:hover {
  text-shadow: #ffffff 0px 0px 0.3em, #ffffff 0px 0px 0.6em, #ffffff 0px 0px 0.9em, 	#9400D3 0px 0px 0.6em, 	#9400D3 0px 0px 1.04em, 	#9400D3 0px 0px 1.2em, 	#9400D3 0px 0px 1.5em;
  box-shadow: #ffffff 0px 0px 0.15em, #ffffff 0px 0px 0.3em, #ffffff 0px 0px 0.44em, 	#9400D3 0px 0px 0.6em, 	#9400D3 0px 0px 1.04em, 	#9400D3 0px 0px 1.2em, 	#9400D3 0px 0px 1.5em, inset 	#9400D3 0 0 1.2em;
}


#startBtn {
  border-radius: 15px;
  overflow-y: hidden;
  -webkit-app-region: no-drag;
  text-align: center;
}